/*
===================================================
This code is developed by Shokat Javed at JV Codes
Website: www.jvcodes.com
===================================================
*/
body {

    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    min-width: 560px;
    margin-left: 80px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: #85796b;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  }
  
    .grid div {
      height: 70px;
      width: 70px;
    }
    
    h3 {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
    }
    
    h1 {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      margin-top: -10px;
    }
       
    .scoreBoard {
      background-color: rgb(0, 20, 61, 0.9);
      border-radius: 10px;
      margin-top: 100px;
      margin-left: 500px;
      width: auto;
      height: 120px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    }